*{
  font-family: "Arial Rounded MT Bold", serif;
}

ul{
  margin: 10px;
  padding: 0;
}

h2{
  font-size: 18px;
  margin: 20px 10px;
}

li{
  text-decoration: none;
  list-style: none;
  border: 1px #aaaaaa solid;
  padding: 10px;
  background-color: darkolivegreen;
  cursor: pointer;
  width: 90%;
  color:white;
  font-size: 0.8em;
}

p{
  margin: 10px;
  font-size: 0.7em;
  font-style: italic;
}

.container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 5px;
  border: 1px solid lightgrey;

}

.liste_etudiants{
  flex: 1;
}

.details{
  flex:1;
}
